<section class="container">

  <article class="cont__imgLink">

    <img  class="imgLink" src="../../assets/img/imgDados.png"  alt="img dados link" (click)="imageClickDados()"> 

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div>-->

  </article>

  <article class="cont__imgLink">
  
    <img class="imgLink" src="../../assets/img/imgPPT.png" alt="img piedra papel y tijera link" (click)="imageClickPPT()">

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div> -->

  </article>

  <article class="cont__imgLink">
  
    <img class="imgLink" src="../../assets/img/imgSnake.png" alt="img snake game link" (click)="imageClickSnake()">

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div>-->

  </article>

</section>

<section class="container__pacman">
    <div class="game-container">
      <div id="pacman"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </section>