<section class="container">
  <div class="sign_in">
      <div class="content">
        <h2 title="Crea tu usuario para dejar tu marca en los juegos que te destaques!">Crea Tu Usuario</h2>
          <div class="form">
              <div class="inputbox">
                <form (submit)="registrarUsuario($event)" >
                  <input type="text" id="username" placeholder="Nombre de usuario" required>
                  <input #passwordInput type="password" id="password" placeholder="Contraseña" required>
                  <button type="submit">Registrarse</button>
                  <button (click)="togglePassword()" id="togglePassword">👁️</button>
                </form>
              </div>
              <div class="links">
                <a href="#">¿Olvidaste tu contraseña?</a>
              </div>
              
          </div>
          
      </div>
      
  </div>

</section>
