/* vista-cambios.component.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background-color: #1c1427;
  font-size: 20px;
  border-radius: 500px;

  background-color:2px solid rgba(41, 128, 185, 0.5);
  border-radius: 10px;
  animation: cambioBorde 4s infinite alternate;

}
@keyframes cambioBorde {
  from {
    border-radius: 10px; 
  }
  to {
    border-radius: 50%; 
  }
}

.sign_in {
  background-color: #fffeff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 500px;
}

.content {
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
  text-align: center;
  animation-name: changeColor;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}

h2[title]::after {
  content: attr(title);
  position: absolute;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  display: none;
}
@keyframes changeColor {
  from {
    color: #0b0b0b; 
  }
  to {
    color: #8e14b0; 
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.inputbox,
.input_box {
  position: relative;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #840ba6;
  width: 100%;
}

i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
}

input:focus + i,
input:valid + i {
  top: 0;
  font-size: 12px;
  color: #333;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  
}

a {
  text-decoration: none;
  color: #007bff;
}

button {
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  /*margin-left: 438px;              lleva el boton de registrarse hacia la izquierda, capaz queda mejor en el medio*/
  background-color: #840ba6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.password-container {        /*boton para mostrar la contraseña*/
  position: relative;
  display: inline-block;

}

#passwordInput {
  padding-right: 100px;    /* Ajusta el espacio a la derecha para el botón */
}

#togglePassword {
  position: absolute;
  top: 35px;
  margin-left: 265px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
}