<section class="container">
    <div class="sign_in">
        <div class="content">
            <h2>Ingresá</h2>
            <div class="form">
                <div class="inputbox">
                    <input type="text" required>
                    <i>Username</i>
                </div>
                <div class="input_box">
                  <input type="password" required>
                    <i>Password</i>
                </div>
                <div class="links">
                  <a href="#">¿Olvidaste tu contraseña?</a>
                  <a href="#">Ingresá</a>
                </div>
                <div class="input_box">
                  <input type="sumbit" value="login">

                </div>
            </div>
            
        </div>
    </div>

</section>



















